In [1]:
import sqlite3

import nltk
import numpy as np
import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [2]:
cnxn = sqlite3.connect('tcu-acordaos.db')

df = pd.read_sql_query("SELECT * from acordaos", cnxn)

In [3]:
df.head(2)

,id,urn,ano_acordao,numero_acordao,relator,processo,tipo_processo,data_sessao,numero_ata,interessado_reponsavel_recorrente,entidade,representante_mp,unidade_tecnica,repr_legal,assunto,sumario,acordao,quorum,relatorio,voto
0,1,urn:lex:br:tribunal.contas.uniao;camara.1:acor...,2000,1,WALTON ALENCAR RODRIGUES,300.002/1997-1 007.885/1999-7 008.166/1999-4 0...,,25/01/2000,01/2000-Primeira Câmara,,,,,,,,ACÓRDÃO: Os Ministros do Tribunal de Contas da...,,,
1,2,urn:lex:br:tribunal.contas.uniao;camara.1:acor...,2000,2,JOSÉ ANTÔNIO BARRETO DE MACEDO,012.895/1994-6,,25/01/2000,01/2000-Primeira Câmara,,,,,,,,ACÓRDÃO: Os Ministros do Tribunal de Contas da...,,,

In [4]:
df.to_csv('tcu.csv')

In [5]:
df.columns

Index(['id', 'urn', 'ano_acordao', 'numero_acordao', 'relator', 'processo',
       'tipo_processo', 'data_sessao', 'numero_ata',
       'interessado_reponsavel_recorrente', 'entidade', 'representante_mp',
       'unidade_tecnica', 'repr_legal', 'assunto', 'sumario', 'acordao',
       'quorum', 'relatorio', 'voto'],
      dtype='object')

In [9]:
dfResumo = df[["ano_acordao","numero_acordao","acordao"]]
dfResumo.head(2)

,ano_acordao,numero_acordao,acordao
0,2000,1,ACÓRDÃO: Os Ministros do Tribunal de Contas da...
1,2000,2,ACÓRDÃO: Os Ministros do Tribunal de Contas da...

In [21]:
dfResumo["ano_acordao"] = dfResumo["ano_acordao"].map(str)
dfResumo["numero_acordao"] = dfResumo["numero_acordao"].map(str)

In [23]:
dfResumo["num_ano_acordao"] = dfResumo["ano_acordao"] + "_" +  dfResumo["numero_acordao"]

In [24]:
dfResumo["num_ano_acordao"].head(2)

0    2000_1
1    2000_2
Name: num_ano_acordao, dtype: object

In [ ]:
df.ano_acordao.count()

In [ ]:
max(lth(df.acordao))